<div id="page">
    <div id="scroll">
        <scroll-view ref="childTime" id="timelist" scroll-id="#timelist" class="wrapper" v-on:bindscrolltoupper="scrolltop" :wait="loading" :more="true">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="javascript:;" @click="goback" v-for="(val,i) in list">
                    <div class="weui-cell__bd">
                        <p>{{val}}</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
        </scroll-view>
    </div>
    <div id="scroll2">
        <scroll-view ref="child2" id="timelist2" scroll-id="#timelist2"  :scroll-x="true" :scroll-y="false" class="wrapper">
            <a class="weui-btn weui-btn_plain-primary" v-for="(val,i) in list" >
                {{val}}
            </a>
        </scroll-view>
    </div>
</div>