.swipercon {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.wrapper {
    display: block;
    position: relative;
    overflow: hidden;
}
.scroller_h{
  display: inline-flex;
}
.hoverAct:active {
    background-color: #ECECEC;
}