.swipercon {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.wrapper {
    display: block;
    position: relative;
    overflow: hidden;
}
/*scroll修改样式*/
.scrollView{
    display: block;
    position:absolute;
    overflow: hidden;
}
.scrollView:after{
    content: " ";
    width: 8px;
    height: 8px;

    border-radius: 50%;
    animation: typing 1s linear infinite alternate;
    -webkit-animation: typing 1s linear infinite alternate;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity:0;
    transition: all .6s;
    text-align: center;
    font-size: 12px;
    margin-left: -8px;
}
@-webkit-keyframes typing{
    0%{
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.4),24px 0px 0px 0px rgba(0,0,0,0.6);
    }
    25%{ 
        background-color: rgba(0,0,0, 0.6);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.6),24px 0px 0px 0px rgba(0,0,0,0.4);
    }
    75%{ 
        background-color: rgba(0,0,0, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.8),24px 0px 0px 0px rgba(0,0,0,0.1);
    }
    100%{ 
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.4),24px 0px 0px 0px rgba(0,0,0,0.6);
    }
}
@keyframes typing{
    0%{
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.4),24px 0px 0px 0px rgba(0,0,0,0.6);
    }
    25%{ 
        background-color: rgba(0,0,0, 0.6);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.6),24px 0px 0px 0px rgba(0,0,0,0.4);
    }
    75%{ 
        background-color: rgba(0,0,0, 0.2);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.8),24px 0px 0px 0px rgba(0,0,0,0.1);
    }
    100%{ 
        background-color: rgba(0,0,0, 1);
        box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.4),24px 0px 0px 0px rgba(0,0,0,0.6);
    }
}
.scrollView.scrollbottom:after{
    opacity:0.5;
}
.scrollView.nodata:after{
    content: "没有内容了";
    background-image: none;
    line-height: 20px;
}
.scrollView.wait>div{
    padding-bottom: 30px;
}
.scrollView.wait:after{
    opacity:0.5;
}
.scroller_h{
  display: inline-flex;
}
.hoverAct:active {
    background-color: #ECECEC;
}
.toast{
    text-align: center;
    color: #999;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    overflow: hidden;
    top: 40%;
    display: block;
}
.toast .txt{    
    width: 60px;
    margin: 0 auto;
    padding: 12px 12px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 12px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #eee;
    min-width: 80px;
}